

<ion-view view-title="Game 2" hide-back-button="true">



  <body padding="true" >

    <div class="cards" style="background-color: #535267">
    <div class="card" >
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{question.question.english}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{answer}}
      </div>
    </div>
  </div>

  <div class="answer-button" style="background-color: #535267">

    <button class="button choice-button" style="width:48%; background-color: #535267;background-color : #535267;background-image : url('img/Right.png');background-size: contain;background-position: center; background-repeat: no-repeat;" ng-click="answerRight(1)">

  </button>
    <button class="button choice-button" style="width:48%; background-color: #535267;background-color : #535267;background-image : url('img/Wrong.png');background-size: contain;background-position: center; background-repeat: no-repeat;" ng-click="answerRight(0)">

  </button>

  <p style="font-size : 30px;width:100%;text-align:right;position: absolute; bottom: 50%;right : 5%;color:white;"> {{score}}<span style="font-size : 20px";> points</span></p>
  <p style="font-size : 20px;position: absolute;text-align:left; bottom: 50%;color:white;left: 2%;width: 95%;">Question {{10 - remaining}}/10</p>

  </div>
  </body>





</ion-view>
