

<ion-view view-title="Game 2" hide-back-button="true">



  <body padding="true" >

    <div class="cards" style="background-color: #535267">
    <div class="card" >
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{questions[0].english}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{questions[0].french}}
      </div>
    </div>
  </div>

  <div class="answer-button">

    <button class="button choice-button">
      Right
    </button>
    <button class="button choice-button">
      Wrong
    </button>

  </div>
  </body>





</ion-view>
