

<ion-view view-title="Game 2" hide-back-button="true">



  <body padding="true" >

    <div class="cards" style="background-color: #535267">
    <div class="card" >
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{question.question.english}}
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" style="background-color : orange; color: white; font-size: 150%;font-weight: bold;">
        {{answer}}
      </div>
    </div>
  </div>

  <div class="answer-button">

    <img class="button choice-button" src="/img/Right.png" ng-click="answerRight(1)">

  </img>
    <img class="button choice-button" src="/img/Wrong.png" ng-click="answerRight(0)">

  </img>

  {{score}}

  </div>
  </body>





</ion-view>
