

<ion-view hide-back-button="true">

<body style = "background-color : black;">

      <div class = "game1_top" style="height : 50%; width: 100%;padding : 2%;padding-top : 20%;background-color : #535267; ">
        <p style="font-size : 50px;width:100%;text-align:right;position: absolute; bottom: 70%;right : 5%;color:white;"> {{score}}<span style="font-size : 20px";> points</span></p>
        

        <p class 1= "game1_question" style = "position: absolute; bottom: 55%; width : 100%; text-align: center; height : 10%; background-color : orange; color : white;font-size: 150%;font-weight: bold;">
            <br/>{{question.question}}
        </p>
        <p style="font-size : 20px;position: absolute; bottom: 80%;font-size: 200%;color:white;left: 5%;">Question {{10 - remaining}}/10</p>



      </div>
        <div class = "grid_layout" style="border : 1px solid orange;">
          <h5 style = " position : absolute; bottom : 95%;width:100%;text-align: center; ">
            <span style="background-color : #535267;padding: 10px;color : white;"> Choose the right answer ! </span></h5>

    <div class="row">
      <div class="col no-padding">
        <button class="button button-block button-balanced menu-button" ng-click="answer(0)">
            {{question.answers[0]}}
        </button>
      </div>

      <div class="col no-padding">
          <button class="button button-block button-balanced menu-button" ng-click="answer(1)">
            {{question.answers[1]}}
          </button>
      </div>
    </div>

    <div class="row ">
      <div class="col no-padding">
        <button class="button button-block button-balanced menu-button" ng-click="answer(2)">
            {{question.answers[2]}}
        </button></div>
      <div class="col no-padding"><button class="button button-block button-balanced menu-button" ng-click="answer(3)">
            {{question.answers[3]}}
      </button>
    </div>
    </div>
</div>


</body>



</ion-view>
