<ion-view view-title="Menu" hide-back-button="true">

<ion-content >



</ion-content>

<div class = "grid_layout" style="">

    <div class="row">
      <div class="col no-padding">
        <button class="button button-block button-balanced menu-button" ui-sref="question">
        Default
        </button>
      </div>
      
      <div class="col no-padding">
          <button class="button button-block button-balanced menu-button" ui-sref="rules">
        Game 1
          </button>
      </div>
    </div>

    <div class="row ">
      <div class="col no-padding">
        <button class="button button-block button-balanced menu-button" ui-sref="question">
        Default
        </button></div>
      <div class="col no-padding"><button class="button button-block button-balanced menu-button" ui-sref="rules">
        Game 1
      </button>
    </div>
    </div>
</div>


</ion-view>
