<ion-view view-title="Rules" ng-controller="rules1Ctrl">

<ion-content class="" style = "background-color:#26262f;">
<p style="width : 100%; text-align : center;">
	<img class="" src="img/rules_1.png" style="max-width : 600px;"/>
</p>
	<p style = "color : white;text-align : center;" style="width : 100%;max-width : 600px; ">{{bestScore}}</p>

</ion-content>

<div class="padding footer-play">
	<button class="button button-positive" ui-sref="game_1" style="width:100%;">
				PLAY
	</button>
</div>

</ion-view>
